.main__container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* main{
    background:var(--background-color);
    min-height: 100vh;
} */

body {
    overflow-y: scroll;
    background:var(--background-color);
  }